
# visual studio code
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# git credential file
.gitconfig.local

# no thx
node_modules

# Folder view configuration files
.DS_Store
Desktop.ini
.AppleDouble
.LSOverride

# Thumbnail cache files
._*
Thumbs.db

# Files that might appear on external disks
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
.com.apple.timemachine.donotpresent

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
