# oh-my-zsh
alias zshconfig="$EDITOR ~/.zshrc"
alias ohmyzsh="$EDITOR ~/.oh-my-zsh"
alias reload="source ~/.zshrc"

#development
alias server="python -m SimpleHTTPServer"

# npx
alias commit="npx git-cz" #commit using git-cz package
alias react_app="npx create-react-app" # create react app

# mac
alias hd="cd /Volumes/HD"
alias work="cd /Volumes/HD/Workspace"
alias learn="cd /Volumes/HD/Learning"
alias shutdown="sudo shutdown -h now"
alias hosts="sudo $EDITOR /etc/hosts"
alias dns_clear="dscacheutil -flushcache"

# mv, rm, cp
alias mv='mv -v'
alias rm='rm -i -v'
alias cp='cp -v'
alias md="mkdir"
alias rd="rmdir"
alias del="rm -i"

# Easier navigation: .., ..., ~ and -
alias cl="clear"
alias ..="cd .."
alias ...="cd ../.."
alias ....="cd ../../.."
alias .....="cd ../../../.."
alias ~="cd ~" # `cd` is probably faster to type though
alias -- -="cd -"

alias chmox='chmod -x'
alias where=which

# File size
alias fs="stat -f \"%z bytes\""

# docker
alias dockercleand='docker rmi $(docker images -q)' #delete all images
alias dockercleanu='docker rmi $(docker images -q -f dangling=true)' # delete all untagged images
alias dockercleans='docker rm $(docker ps -a -q)' #delete all stopped images
