# This is Git's per-user configuration file.
[user]
	name = Tiago Celestino
	email = tcelestino@gmail.com
[alias]
	co = checkout
	ci = commit
	st = status
	br = branch
	ph = push
	pu = pull
	log = log --decorate --pretty=format:'%Cred%h%Creset%C(yellow)%d%Creset %s %Cgreen(%cr) %C(cyan  )<%an>%Creset' --abbrev-commit --graph
