prefix=${HOME}/.npm-packages
save-exact=true
init-author-email="YOUR-EMAIL-HERE"
init-author-name="YOUR-NAME-HERE"
init-license=MIT
scope=@your_username
loglevel="warning"
@your_username:registry=https://registry.npmjs.org/
