prefix=${HOME}/.npm-packages
save-exact=true
init-author-email=${USER_EMAIL} # set value USER_EMAIL in .zshrc
init-author-name=${USER_NAME} # set value USER_NAME in .zshrc
init-license=MIT
scope=@${NPM_SCOPE} # set value NPM_SCOPE in .zshrc
loglevel=notice
registry=https://registry.npmjs.org/
npm.pkg.github.com/:_authToken=${GH_TOKEN} # set value GH_TOKEN in .zshrc
