prefix=${HOME}/.npm-packages
save-exact=true
init-author-email=<YOUR-EMAIL-HERE>
init-author-name=<YOUR-NAME-HERE>
init-license=MIT
scope=@username
loglevel="notice"
@username:registry=https://registry.npmjs.org/
