# Each line represents a format setting. The last line of this file must be empty. Lines starting with # are comment lines.
# Edited on 2023/07/30
#
# Image formats
#
# Format: .dng
com.chitaner.Picview    com.adobe.raw-image  all
#
# Format: .psd (This format is disabled by default. Remove the "#" to enable it)
# com.chitaner.Picview    com.adobe.photoshop-image  all
#
# Format: .cr2
com.chitaner.Picview    com.canon.cr2-raw-image  all
#
# Format: .ico
com.chitaner.Picview    com.microsoft.ico  all
#
# Format: .tga
com.chitaner.Picview    com.truevision.tga-image  all
#
# Format: .raf
com.chitaner.Picview    com.fuji.raw-image  all
#
# Format: .exr
com.chitaner.Picview    com.ilm.openexr-image  all
#
# Format: .tiff
com.chitaner.Picview    public.tiff  all
#
# Format: .pict
com.chitaner.Picview    com.apple.pict  all
#
# Format: .nef
com.chitaner.Picview    com.nikon.raw-image  all
#
# Format: .jpeg
com.chitaner.Picview    public.jpeg  all
#
# Format: .dds
com.chitaner.Picview    com.microsoft.dds  all
#
# Format: .pbm
com.chitaner.Picview    public.pbm  all
#
# Format: .heif
com.chitaner.Picview    public.heif  all
#
# Format: .jp2
com.chitaner.Picview    public.jpeg-2000  all
#
# Format: .pic
com.chitaner.Picview    public.radiance  all
#
# Format: .sgi
com.chitaner.Picview    com.sgi.sgi-image  all
#
# Format: .gif
com.chitaner.Picview    com.compuserve.gif  all
#
# Format: .nrw
com.chitaner.Picview    com.nikon.nrw-raw-image  all
#
# Format: .heic
com.chitaner.Picview    public.heic  all
#
# Format: .bmp
com.chitaner.Picview    com.microsoft.bmp  all
#
# Format: .pbm
com.chitaner.Picview    net.sourceforge.netpbm.netpbm-image  all
#
# Format: .rw2
com.chitaner.Picview    com.panasonic.rw2-raw-image  all
#
# Format: .png
com.chitaner.Picview    public.png  all
#
# Format: .pef
com.chitaner.Picview    com.pentax.raw-image  all
#
# Format: .orf
com.chitaner.Picview    com.olympus.raw-image  all
#
# Format: .webp
com.chitaner.Picview    public.webp  all
#
# Format: .svg
com.chitaner.Picview    public.svg-image  all
#
# If you want to add other formats, copy a line, and modify "public.png" to the UTI of the corresponding format. You can get the UTI using the mdls command.
#
